<div class="flex">
  <div class="lg:w-3/5 hidden sm:block h-screen bg-cover bg-no-repeat bg-center" style="background-image: url('assets/images/monogatari.png')">
  </div>

  <div class="w-full lg:w-2/5  flex items-center justify-center mx-auto ">
    <div class="mx-auto w-full p-4">
      
      <div class="max-w-md bg-red-500 mx-auto p-4 mb-6 h-32 text-center flex items-center justify-center rounded-lg mt-24 w-full px-4 py-2">
        <p class="text-yellow-100 text-3xl font-bold">POLYGOGO</p>
      </div>
      <form (ngSubmit)="onSubmit()" class="max-w-md mx-auto mt-8">
        <div class="mb-6">
          <input class="w-full px-4 py-2 border rounded-md text-black" type="text" placeholder="Nombre de usuario" [(ngModel)]="username" name="username" required>
        </div>
        <div class="mb-6">
          <input class="w-full px-4 py-2 border rounded-md" type="password" placeholder="Contraseña" [(ngModel)]="password" name="password" required>
        </div>
        <div>
          <button class="w-full px-4 py-2 border rounded-md bg-red-500 text-yellow-100" type="submit">Registrarse</button>
        </div>

        <div *ngIf="showSuccessPopup" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
          <div class="bg-white p-4 rounded-md">
            <p class="text-green-500 text-2xl font-bold mb-4">¡Registro exitoso!</p>
            <button class="bg-red-500 text-white px-4 py-2 rounded-md" (click)="closeSuccessPopup()">Cerrar</button>
          </div>
        </div>

      </form>
  
      <p class="text-center mt-4">¿Ya tienes una cuenta?  <a class="text-red-500" routerLink="/login">Iniciar Sesión</a></p>
    </div>
  </div>
  
</div>