<div *ngFor="let game_player of game.players; let i = index" class="flex flex-col items-center">
  <p [ngClass]="getPositionClass(i)">{{ game_player.user.username}} <span *ngIf="game_player._id === game.turn">Su turno </span> <span>posicion: {{game_player.position}}</span></p>
  <button (click)="tirarDados()" *ngIf="player._id === game.turn && !player.playing" class="fixed bottom-4 left-1/2 transform -translate-x-1/2 p-2 bg-red-500 text-white rounded-full">Tirar</button>
  <button (click)="pasarTurno()" *ngIf="player._id === game.turn && player.playing" class="fixed bottom-20 left-1/2 transform -translate-x-1/2 p-2 bg-blue-500 text-white rounded-full">Pasar turno</button>
</div>